.Modal-Content {
    z-index: 4;
    display: block;
    position: fixed;
    visibility: visible;
    transition: all 0.25s linear;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}

.Faded-Background {
    z-index: 3;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
    background-color: rgba(17, 17, 17, 0.50);
    color: white;
    transition: all 0.25s linear;
}

#CloseButton {
    position: fixed;
    z-index: 4;
    font-size: 24px;
    right: 10px;
    top: 10px;
    cursor: pointer;
}