.box{
    display: inline-flex;
    border: 1px solid #44ddaa;
    background: linear-gradient(90deg, #84CF6A, #16C0B0);
    width: 500px;
    height: 200px;
    cursor: pointer;  
    color: white;
    font-size: 25px;
    text-decoration: none;
}