.CustomerCartView{
    width: 90%;
    margin: 15px auto;
    padding: 0px 40px;
    box-sizing: border-box;
    border: solid 1px #bbb;
    border-radius: 8px;
    box-shadow: 0 1px 2px #bbb;
}
.title{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 100;
}
.main{
    color: #ee4054;
    font-size: 42px;
}
.CartContainer{
    margin: 15px 0;
    box-sizing: border-box;
}
.CartContainer>.title{
    padding: 10px 0;
    border-bottom: solid 1px #bbb;
}