.CustomerCartView{
    border-radius: 8px;
    border: 1px solid #aaaaaa;
    margin: 5px;
    box-sizing: border-box;
}
.title{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 100;
}
.main{
    color: red;
    font-size: 4.5em;
}
.CartContainer{
    margin: 25px;
    width: 60%;
}
.CartContainer>.title{
    border-bottom: solid 1px #888;
}