$color: #2ecc71;
$colorHeaderWrapBackGround:#db122e;
$headerTextColor: #fff;
$headerLink: #fff;

//---------------
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  
  vertical-align: baseline; 
}

  //---------------
button:focus , a:focus, select:focus
{outline:0;}

.container {
  width: 1300px;
  margin-right: auto;
  margin-left: auto; 
}
.headerWrap{
  color: $headerTextColor;
  background: $colorHeaderWrapBackGround;
}
.headerWrap a{
 color: $headerLink;
}