
// fonts
$font-family: 'Lato', Helvetica, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;
$topMenuBackground: #333;
$colorHeaderWrapBackGround:#db122e;
$headerTextColor: #fff;
$headerLink: #fff;
// colors
$dark-grey: #333447;
$dark-gray: #333447; // for the Americans

@import './root.scss';

  //--------CUSTOM THEME-------
button:focus , a:focus, select:focus
{outline:0;}

.container {
  width: 1300px;
  margin-right: auto;
  margin-left: auto; 
}
.headerWrap{
  color: $headerTextColor;
  background: $colorHeaderWrapBackGround;
}
.headerWrap a{
 color: $headerLink;
}
.headerWrap{ 
  .topBarText{
    font-size: 11px;
    margin-top: 10px;
    display: inline-block;
  }
  .topMenu{
    background: $topMenuBackground;
    min-height: 25px;
  }
  .logo{
    margin-top: 20px;
    max-width: 200px;
 }
 .headerMain{
   min-height: 85px;
   .logoWrap{
    width: 250px;
    display: inline-block;
   }
   .searchBar{
     width: 400px;
     margin-top: 20px;
     margin-left: 50px;
     display: inline-block;
   }
   .bp3-button::before{
      color: #fff;
      font-size: 27px;
   }
   .bp3-button{
     color: #fff;
     font-size: 14px;
     margin-left: 20px;
   }
   .bp3-navbar-divider {
      margin: 0 10px;
      border-left: 1px solid #ff94a4;
  }
 }
 .topSecondaryMenu{
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
  margin: 10px 0px;
  li{
    float: left;
    font-size:12px;
    margin-left: 10px;
  }
 }
}
