.header{

}

.header-top{
    background: red;
    
}

.header-top-left{
    padding: 8px 20px;
    display: flex;
    flex-direction: row;
    // justify-content: baseline;
}

.header-brand{
    box-sizing: content-box;
    width: 17%;
}

.search{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
}
.input-search{
    width: 90%;
    height: 34px;
    // border: 1px solid #56a060;
    // border-radius: 3px;
    padding : 10px;
}
.search-item{
    width: 10%;
    height: 34px;
    background: #d3b428;
    justify-content: center;
    display: flex;
    flex-direction: row;
    
}
.search-flex{
    display: flex;
    flex-direction: row;
    border: 1px solid #d3b428;
    border-radius: 3px;
}
.search-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left : 40px;
}

.header-account-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-account-row-center{
    display: flex;
    flex-direction: row;
    color: aliceblue;
}

.account-img{
        font-size: 30px;
        justify-items: center;
}

.account-text-col{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}