.header{

}

.header-top{
    background: red;
    
}

.header-top-left{
    padding: 8px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-brand{
    box-sizing: content-box;
    width: 100%;
}
.brand-link{
    width: 17%;
}
.search{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
}
.input-search{
    width: 90%;
    height: 34px;
    // border: 1px solid #56a060;
    // border-radius: 3px;
    padding : 10px;
}
.search-item{
    width: 10%;
    height: 34px;
    background: #d3b428;
    justify-content: center;
    display: flex;
    flex-direction: row;
    
}
.search-flex{
    display: flex;
    flex-direction: row;
    border: 1px solid #d3b428;
    border-radius: 3px;
}
.search-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left : 40px;
}

.header-account-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-account-row-center{
    display: flex;
    flex-direction: row;
    color: aliceblue;
}

.account-img{
        font-size: 30px;
        justify-items: center;
        display: inline;
}

.account-text-col{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.number-card{
    position: absolute;
    // border: 1px solid blue;
    width:20px;
    height:20px;
    right: 0;
    top: 0;
    background:white;
    border-radius: 10px;
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}

.number-ab{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-card{
    width: 46px;
    position: relative;
}
.header-bottom{
    padding-top: 7px;
    border-bottom: 1px solid red;
    display: flex;
    flex-wrap: wrap;
     align-items: center;
}
.header-bottom-left{
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    
}
.header-bottom-left-content{
    display: flex;
    flex-direction: row;
}
.header-categories{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 7px;
}
.header-categories-text{
    font-weight: 650;
    
}
.today-deal{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
    height: 100%;
    color: black;
    text-decoration: none;
}
.today-deal:active{
    border-bottom: 6px solid red;
}

.today-deal:hover{
    color: red;
    border-bottom: 7px solid red;
    text-decoration: none;
    text-align: center;
}

.link-cate > a:hover{
    text-decoration: none;
}
.link-cate:hover{
    text-decoration: none;
    text-align: center; 
}

.today-deal div{
    font-weight: 650;
}

.header-bottom-right{
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    width: 30%;
    // justify-content: center;
}
.header-bottom-right-content{
    display: flex;
    flex-direction: row;
}
