.menu-container {
  width:100%;
  margin: 0 auto;
  padding: 20px 0;
}
.menu {
  top: -13px;
  width: 145px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 0px;
  position: relative;
  padding: 0 0 0 0px;
  background-color: white;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
}
.menu a, .menu a:link, .menu a:visited, .menu a:focus {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.menu a:hover {
  color: red;
  text-decoration: none;
}
.menu > li {
  display: block;
  text-align: left;
}
.menu > li > a {
  padding: 15px 5px;
  display: block;
}
.menu > li:hover > a {
  color: white;
}
.menu > li:hover {
  background-color: red;
}
/* Megadrop width dropdown */
.menu > li > .megadrop {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  list-style: none;
  top: -1px;
  left: 143px;
  width: 800px;
  min-height: 100%;
  text-align: left;
  margin-top:30px;
  padding: 0;
  z-index: 99;
  overflow: hidden;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 10px solid red;
  border-left: 1px solid gray;
}
.menu > li:hover .megadrop {
  opacity: 1;
  visibility: visible;
  margin-top: 0px;
}
.menu ul li:hover:after {
  color: #227087;
}
.menu .col {
  width: 20%;
  float: left;
  color:white;
  margin: 0 0 0 2.2%;
}
.menu .col ul {
  padding: 0;
  margin: 0;
}
.menu .col ul li {
  padding: 3px 0;
  list-style: none;
  font-size: 11px;
}
.menu .col > h3 {
  font-size: 15px;
  padding: 10px 0;
  font-weight: bold;
  margin: 5px 0 15px 0;
  color: black;
}
.menu .col ul li a {
  display: block;
  padding: 0 0 15px 0;
  color: black;
}
.menu .col ul li a:hover {
  color: red;
  text-decoration: none;
}
.menu .col1 {
  width: 20%;
  float: left;
  color:white;
  padding-left: 18px;
  margin: 0 0 0 2.2%;
  border-left: 1px solid gray;
}
.menu .col1 ul {
  padding: 0;
  margin: 0;
}
.menu .col1 ul li {
  padding: 3px 0;
  list-style: none;
  font-size: 11px;
}
.menu .col1 h3 {
  font-size: 15px;
  padding: 10px 0;
  font-weight: bold;
  margin: 5px 0 15px 0;
  color: red;
}
.menu .col1 ul li a {
  display: block;
  padding: 0 0 15px 0;
  color: black;
}
.menu .col1 ul li a:hover {
  color: red;
  text-decoration: none;
}
.menu > li > ul li ul, .menu li >ul li, .menu > li > .megadrop, .menu > li > ul, .menu > li {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-outs;
}