{
  "env": {
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 9
  },
  "extends": [
    "eslint:recommended",
    "standard"
  ],
  "rules": {
    "camelcase": "off"
  }
}
